body { text-align: center; 

    background-color: burlywood;
    background-image: linear-gradient(to bottom right, red, yellow);
      

}


.navbar ul {
    list-style-type: none;
    background-color: red(255, 4, 0);
    padding: 0%;
    margin: 0%;
    position:sticky;
    top:0;
    
}
.ImageBorder
{
    border-width: 1px;
    border-color: Black;
}
.navbar a{
    color: #000;
    text-decoration:solid;
    padding: 15px;
    display: block;
    text-align: left;

}

.navbar a:hover{
    background-color: rgb(227, 31, 28);
    border: #301d02;
    border-style: solid;
border-radius: 10px;
}
p {
    font-family: sans-serif
  }
  .Detail {
    
    text-align: right;
    position: sticky;
    top: 0;

  }
  .navbar {
    top: 0;
    float: left;
width: 50%
  }
  .navbarlogo {
    border: 5px outset red;
    background-color: burlywood; 
    position: sticky;
    top: 0;
  }
  
  .fonts { font-family:"Lucida Console", "Courier New", monospace;


  }
 
